* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.upper-case {
     background-image: url("./dev.png");
     background-repeat: no-repeat;
     height: 90vh;
}

